/.internal
/build
.DS_Store
Thumbs.db
manifest.private.der
manifest.public.der
dist

deployer_build_stats.csv
deployer_version_settings.txt

.cache_deployer
/.editor_settings
bob*.jar

deployer_version_settings.ini

/.cache_deployer

luacov.stats.out
luacov.report.out
